
.suggestionBoxContainer{
    position: absolute;
    top: 90px;
    left: 408px;
    width: calc(100% - 409px);
    height: calc(100% - 98px);
    display: flex;
    background: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.suggestionImage{
    width: 300px;
    height: 400px;
}

.suggestionContainer{
    padding: 10px;
    height: 100%;
    background: #E67826;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.suggestionName{
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}

.suggestionButtonsContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.suggestionToggleButton{
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatsContainerBody{
    position: absolute;
    overflow-y: auto;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: none;

}
.currentChatContainer{
    cursor: pointer;
    width: calc(100% - 6px);
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background: #E1E43F;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #E67826;
}

.chatUserIcon{
    margin-left: 30px;
    width: 30px;
    height: 30px;
}


